<template>
  <div class="send-form">
    <input class="send-input" type="text" v-model="message" v-on:keyup.enter=sendMessage /><button class="send-btn" @click=this.sendMessage>➤</button>
  </div>
</template>

<script>
export default {
  name: "ChatSendForm",
  props: {
    contact: Object
  },
  data() {
    return {
      message: ""
    };
  },
  created() {},
  methods: {
    sendMessage: function() {
      this.$store.dispatch("sendMessage", {
        message: this.message
      });
      this.message = "";
    }
  }
};
</script>

<style lang="sass">
.send-form
  display: flex
  align-items: stretch
  margin: 10px
  height: 30px

.send-input
  flex-grow: 1
  outline: none
  border: 1px solid #c5c5c5
  font-size: 16px

.send-btn
  width: 50px
  font-size: 20px
  background-color: white
  border: 1px solid #c5c5c5
  color: cornflowerblue
  border-radius: 0 2px 2px 0
  margin-left: -1px
  outline: none
</style>
