<template>
  <div class="chat">
    <ChatHistory :currentId=$store.state.activeChatId />
    <ChatSendForm />
  </div>

</template>

<script>
import ChatSendForm from "./ChatSendForm.vue";
import ChatHistory from "./ChatHistory.vue";
export default {
  name: "Chat",
  props: {},
  components: {
    ChatSendForm,
    ChatHistory
  },
  data() {
    return {};
  },
  created() {
    this.$root.$on("openChat", contact => {
      console.log("[[ openChat ]]", contact);
    });
  }
};
</script>

<style lang="sass">
.chat
  border: 1px solid cornflowerblue
  display: flex
  flex-direction: column
  flex-grow: 1

</style>
