<template>
  <ul class="contact-list">
      <Contact v-for="contact in $store.state.contacts" v-bind:key=contact.id :contact=contact />
  </ul>
</template>

<script>
import Contact from "./Contact.vue";
export default {
  name: "ContactList",
  props: {},
  components: { Contact },
  data() {
    return {};
  }
};
</script>

<style lang="sass">
  .contact-list
    border: 1px solid coral
    flex-grow: 0
    flex-shrink: 0
    width: 250px
    margin: 0 10px 0 0
    padding: 10px
</style>
