<template>
  <li class="contact" @click="openChat">
    <div class="avatar">{{this.contact.name.substr(0,1)}}</div>
    <div class="contact-data">
      <div class="contact-name">{{this.contact.name}}</div>
    </div>
  </li>
</template>

<script>
export default {
  name: "Contact",
  props: {
    contact: Object
  },
  data() {
    return {};
  },
  methods: {
    openChat() {
      this.$store.commit("openChat", this.contact);
    }
  }
};
</script>

<style lang="sass">
.contact
  display: flex
  align-items: center
  cursor: pointer
  height: 35px
  margin-bottom: 5px

.avatar
  display: flex
  justify-content: center
  align-items: center
  width: 30px
  height: 30px
  margin-right: 5px
  background-color: coral
  border-radius: 50%
  text-transform: uppercase
  font-family: 'Arial'
  font-weight: bold

.contact-data
  display: flex
  flex-direction: column
  justify-content: center
</style>
