<template>
  <div id="app">
    <ContactList/>
    <Chat/>
  </div>
</template>

<script>
import ContactList from "./components/ContactList.vue";
import Chat from "./components/Chat.vue";

export default {
  name: "app",
  components: {
    ContactList,
    Chat
  },
  created() {
    this.$store.dispatch("fetchData");
  }
};
</script>

<style lang="sass">
#app 
  display: flex
  flex-wrap: no-wrap
  align-items: stretch

  width: 800px
  max-width: 100%
  min-height: 600px
  max-height: 600px
  overflow: hidden

  font-family: "Avenir", Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
  margin-top: 60px

</style>
